.gallery {
   display: flex;
   justify-content:center;
   align-items: center;
   flex-wrap: wrap;
   list-style: none;
   gap: 24px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 0;
   width: 2000px;
   }

.gallery-image {
   cursor: pointer;
   }

  .modal-item {
width: 1280px;
  } 